<div class="navbar">
        <a routerLink="home" routerLinkActive="active" id="logo">
            SpaceX.
        </a>
        <nav class="nav-links">
            <a routerLink="past-launches" routerLinkActive="active">Past Launches</a>
            <a routerLink="upcoming-launches">Upcoming Launches</a>
            <a routerLink="assistant">Assistant</a>
            <a routerLink="profile">Profile</a>
            <a routerLink=""><i class="material-icons">logout</i></a>
        </nav>
    </div>
