.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.navbar:hover {
    background: rgba(0, 0, 0, 0.8);
}

#logo {
    color: white;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
}


.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    position: relative;
    cursor: pointer;
}

.nav-links a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: #e94560;
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a:hover {
    color: #e94560;
}
.material-icons {
    font-size: 20px;
}